# Server runtime configurations
PORT=8080
ENVIRONMENT=development

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=todo
DB_SSLMODE=disable

# Security configurations
JWT_SECRET=super_secure_jwt_secret_change_me_in_production
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
